<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.cmfz.dao.LogDao">

     <select id="selectAlllogsByPage" resultType="Log">
         select * from t_logbook
         limit #{begin},#{end}
     </select>

     <select id="count" resultType="int">
         select count(*) from t_logbook
     </select>

    <insert id="insertlog">
        insert into t_logbook(id,user,resource,action,message,result)
        values(#{id},#{user},#{resource},#{action},#{message},#{result})
    </insert>

    <delete id="deletelog">
        delete from t_logbook where id=#{0}
    </delete>

</mapper>






