<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:contex="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--注解扫描-->
    <contex:component-scan base-package="com.baizhi.cmfz">
        <contex:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </contex:component-scan>
    <!--连接数据库-->
    <contex:property-placeholder location="classpath:/jdbc.properties"/>
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${driver}"></property>
        <property name="username" value="${name}"></property>
        <property name="password" value="${pwd}"></property>
        <property name="url" value="${url}"></property>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />

        <property name="typeAliasesPackage" value="com.baizhi.cmfz.entity" />

        <property name="mapperLocations">
            <list>
                <value>classpath*:com/baizhi/cmfz/mapper/*Mapper.xml</value>
            </list>
        </property>
    </bean>

    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>

        <property name="basePackage" value="com.baizhi.cmfz.dao"/>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>
    <!---日志管理-->
    <aop:aspectj-autoproxy proxy-target-class="true" />
    <bean id="logAspect" class="com.baizhi.cmfz.utils.LogAspect"/>
</beans>